<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div
    class="container d-flex align-items-center justify-content-end justify-content-md-end"
  >
    <div class="d-flex align-items-center me-2">
      <i class="bi bi-headphones"></i> Customer Support
    </div>
    <div class="d-flex align-items-center"><i class="bi bi-globe"></i> ENG</div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a [routerLink]="['/index']" class="logo me-auto"
      ><img src="assets/img/logo.png" alt=""
    /></a>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" [routerLink]="['/index']">Home</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/buy']">buy</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/sell']">sell</a></li>
        <li>
          <a class="nav-link scrollto" [routerLink]="['/transport']"
            >Transport</a
          >
        </li>
        <li><a class="nav-link scrollto" [routerLink]="['']">About Us</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/faq']">FAQ</a></li>

        <li>
          <a class="nav-link scrollto" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
    <a [routerLink]="['/login']" class="login-btn scrollto">log in</a>
    <a [routerLink]="['/register']" class="appointment-btn scrollto"
      >Register</a
    >
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section class="general-service-section">
  <div class="general-service-section-title text-center">
    <h1 class="fw-bolder">Terms of Use</h1>
  </div>
</section>
<!-- End Hero -->

<!-- Browse Charcoal Products and Firewood start -->
<div class="d-flex flex-row justify-content-center">
  <div class="bread-crums-main">
    <a [routerLink]="['/index']" class="active">Home</a>
    <a [routerLink]="['/term']">Terms of Use</a>
  </div>
</div>
<section class="container mt-5 terms_sec">
  <div class="">
    <p>
      This privacy policy discloses the privacy practices for (website address).
      This privacy policy applies solely to information collected by this web
      site. It will notify you of the following:
    </p>
    <div class="d-flex mr-auto">
      <img src="../../../assets/img/Path 1293.svg" class="pe-4 mb-4" />
      <p>
        What personally identifiable information is collected from you through
        the web site, how it is used and with whom it may be shared.
      </p>
    </div>
    <div class="d-flex mr-auto">
      <img src="./../../../assets/img/Path 1293.svg" class="pe-4 mb-2" />
      <p>What choices are available to you regarding the use of your data.</p>
    </div>
    <div class="d-flex mr-auto">
      <img src="./../../../assets/img/Path 1293.svg" class="pe-4 mb-2" />
      <p>
        The security procedures in place to protect the misuse of your
        information.
      </p>
    </div>
    <div class="d-flex mr-auto">
      <img src="./../../../assets/img/Path 1293.svg" class="pe-4 mb-2" />
      <p>How you can correct any inaccuracies in the information.</p>
    </div>
  </div>
  <div class="term_space">
    <h4 class="mb-2 fw-bold">Information Collection, Use, and Sharing</h4>
    <p>
      We are the sole owners of the information collected on this site. We only
      have access to/collect information that you voluntarily give us via email
      or other direct contact from you. We will not sell or rent this
      information to anyone.
    </p>
    <p>
      We will use your information to respond to you, regarding the reason you
      contacted us. We will not share your information with any third party
      outside of our organization, other than as necessary to fulfill your
      request, e.g. to ship an order.
    </p>
    <p>
      Unless you ask us not to, we may contact you via email in the future to
      tell you about specials, new products or services, or changes to this
      privacy policy
    </p>
  </div>
  <div class="term_space">
    <h4 class="mb-2 fw-bold">Your Access to and Control Over Information</h4>
    <p>
      You may opt out of any future contacts from us at any time. You can do the
      following at any time by contacting us via the email address or phone
      number given on our website:
    </p>
    <div class="d-flex mr-auto">
      <img src="./../../../assets/img/Path 1293.svg" class="pe-4 mb-2" />
      <p>See what data we have about you, if any.</p>
    </div>
    <div class="d-flex mr-auto">
      <img src="./../../../assets/img/Path 1293.svg" class="pe-4 mb-2" />
      <p>Change/correct any data we have about you.</p>
    </div>
    <div class="d-flex mr-auto">
      <img src="./../../../assets/img/Path 1293.svg" class="pe-4 mb-2" />
      <p>Have us delete any data we have about you.</p>
    </div>
    <div class="d-flex mr-auto">
      <img src="./../../../assets/img/Path 1293.svg" class="pe-4 mb-2" />
      <p>Express any concern you have about our use of your data..</p>
    </div>
  </div>
  <!-- </div> -->
  <div class="term_space">
    <h4 class="md-2 fw-bold">Security</h4>
    <p>
      We take precautions to protect your information. When you submit sensitive
      information via the website, your information is protected both online and
      offline.
    </p>
    <p>
      Wherever we collect sensitive information (such as credit card data), that
      information is encrypted and transmitted to us in a secure way. You can
      verify this by looking for a closed lock icon at the bottom of your web
      browser, or looking for "https" at the beginning of the address of the web
      page.
    </p>
    <p>
      While we use encryption to protect sensitive information transmitted
      online, we also protect your information offline. Only employees who need
      the information to perform a specific job (for example, billing or
      customer service) are granted access to personally identifiable
      information. The computers/servers in which we store personally
      identifiable information are kept in a secure environment.
    </p>
  </div>
  <div class="term_space">
    <h4 class="fw-bold">Registration</h4>
    <p>
      In order to use this website, a user must first complete the registration
      form. During registration a user is required to give certain information
      (such as name and email address). This information is used to contact you
      about the products/services on our site in which you have expressed
      interest. At your option, you may also provide demographic information
      (such as gender or age) about yourself, but it is not required.
    </p>
  </div>
  <div class="term_space">
    <h4 class="fw-bold">Orders</h4>
    <p>
      We request information from you on our order form. To buy from us, you
      must provide contact information (like name and shipping address) and
      financial information (like credit card number, expiration date). This
      information is used for billing purposes and to fill your orders. If we
      have trouble processing an order, we'll use this information to contact
      you.
    </p>
  </div>
  <div class="term_space">
    <h4 class="fw-bold">Cookies</h4>
    <p>
      We use "cookies" on this site. A cookie is a piece of data stored on a
      site visitor's hard drive to help us improve your access to our site and
      identify repeat visitors to our site. For instance, when we use a cookie
      to identify you, you would not have to log in a password more than once,
      thereby saving time while on our site. Cookies can also enable us to track
      and target the interests of our users to enhance the experience on our
      site. Usage of a cookie is in no way linked to any personally identifiable
      information on our site.
    </p>
  </div>
  <div class="term_space">
    <h4 class="fw-bold">Updates</h4>
    <p>
      Our Privacy Policy may change from time to time and all updates will be
      posted on this page. If you feel that we are not abiding by this privacy
      policy, you should contact us immediately via telephone at +1856-236-1853
      or via email support@charcoalnet.com
    </p>
  </div>
</section>
<footer id="footer">
  <div class="footer-top">
    <div class="container footer_btn">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>CharcoalNet</h3>
            <p>
              CharcoalNet is the largest B2B online market place trading
              sustainably harvested encroacher bush Lump Charcoal for Barbecue
              and restaurant Charcoal, Charcoal Fines and Briquettes, both FSC
              and Non-FSC.
            </p>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a [routerLink]="['/index']">Home</a></li>
            <li><a [routerLink]="['/about']">About us</a></li>
            <li><a [routerLink]="['/contact']">Contact Us</a></li>
            <li><a [routerLink]="['/faq']">FAQ</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Helpfull Links</h4>
          <ul>
            <li><a [routerLink]="['/term']">Terms of Use</a></li>
            <li><a [routerLink]="['/disclaimer']">Disclaimer</a></li>
            <li><a [routerLink]="['/policy']">Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 foot_social">
          <h4>Social Connect</h4>
          <div class="mt-3">
            <a [routerLink]="['/social']"
              ><img src="assets/img/facebook.png"
            /></a>
            <a [routerLink]="['/social']"
              ><img src="assets/img/twitter.png"
            /></a>
            <a [routerLink]="['/social']"
              ><img src="assets/img/linkdin.png"
            /></a>
            <a [routerLink]="['/social']"
              ><img src="assets/img/whatsapp.png"
            /></a>
          </div>
          <div class="mt-3">
            <h4>Payment Method</h4>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment1.png"
            /></a>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment2.png"
            /></a>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment3.png"
            /></a>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment4.png"
            /></a>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment5.png"
            /></a>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment6.png"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <!-- </footer> -->
    <div class="container-fluid footer_botm">
      <div class="copyright">
        &copy; Copyright 2022, Inc All Rights Reserved
      </div>
      <div class="credits"></div>
    </div>

    <!-- Browse Charcoal Products and Firewood end -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </div>
</footer>
