<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div
    class="container d-flex align-items-center justify-content-end justify-content-md-end"
  >
    <div class="d-flex align-items-center me-2">
      <i class="bi bi-headphones"></i> Customer Support
    </div>
    <div class="d-flex align-items-center"><i class="bi bi-globe"></i> ENG</div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="index.html" class="logo me-auto"
      ><img src="assets/img/logo.png" alt=""
    /></a>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" [routerLink]="['/index']">Home</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/buy']">buy</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/sell']">sell</a></li>
        <li>
          <a class="nav-link scrollto" [routerLink]="['/transport']"
            >Transport</a
          >
        </li>
        <li><a class="nav-link scrollto" [routerLink]="['']">About Us</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/faq']">FAQ</a></li>

        <li>
          <a class="nav-link scrollto" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
    <a [routerLink]="['/login&register']" class="login-btn scrollto">log in</a>
    <a [routerLink]="['/login&register']" class="appointment-btn scrollto"
      >Register</a
    >
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section class="general-service-section">
  <div class="general-service-section-title text-center">
    <h1 class="fw-bolder">Disclaimer</h1>
  </div>
</section>
<!-- End Hero -->

<!-- Browse Charcoal Products and Firewood start -->
<div class="d-flex flex-row justify-content-center">
  <div class="bread-crums-main">
    <a [routerLink]="['/index']" class="active">Home</a>
    <a [routerLink]="['/disclaimer']">Disclaimer</a>
  </div>
</div>
<section class="container mt-5 terms_sec">
  <div class="">
    <p>
      charcoal, also known as activated carbon, is a form of carbon prepared to
      have a large surface area. Activated charcoal is used in the emergency
      treatment of certain kinds of poisoning or medication overdoses. It
      adsorbs (sticks to) substances to prevent them from being absorbed from
      the stomach into the bloodstream. [link] For the same reason, activated
      charcoal can disable important, necessary medications.
    </p>
    <p>
      Though activated charcoal can have many beneficial uses [link], in
      beverages it is used to turn cocktails black in color. It does not have a
      significant flavor impact but could have negative impacts on health of
      people who consume it. Alternatives to activated charcoal are mentioned
      below.
    </p>
    <p>
      Outside the US "vegetable carbon black" or "vegetable carbon" or "carbon
      black" with European food number E153 is approved for food use in the
      European Union [link] and in Canada [link] but not in the United States
      (see below) and [link].
    </p>
  </div>
  <div class="term_space">
    <h4 class="mb-2 fw-bold">Legal Information</h4>
    <p>
      In New York, the Department of Health began issuing orders to discontinue
      the use of activated charcoal in food and beverages beginning in 2016. An
      article on Eater.com describes the somewhat murky legality as [link]:
    </p>
    <p>
      The Department of Health says in a statement that restaurants and cafes
      aren’t allowed to serve food with activated charcoal in it because it’s
      “prohibited by the U.S. Food and Drug Administration (FDA) as a food
      additive or food coloring agent.”
    </p>
    <p>
      The FDA says that it currently has no regulation on activated charcoal as
      a food additive or color
    </p>
    <p>
      additive as an ingredient to be added to food — though companies may
      decide that their use of activated charcoal is “generally recognized as
      safe” after approval from “qualified experts,” which allows legal usage
      before official FDA approval.
    </p>
    urthermore, neither charcoal nor red clay is listed in FDA’s regulations for
    use in coloring food, including sea salt (see section 721(b) of the FD&C Act
    (21 U.S.C. 379e(b)). Therefore, any food that contains these color additives
    is adulterated under section 402(c) of the FD&C Act (21 U.S.C. 342(c)). The
    introduction or delivery for introduction into interstate commerce of any
    food that is adulterated is a prohibited act. FDA can take enforcement
    action against an adulterated food product, consistent with our priorities
    and resources.
    <!-- </p> -->
  </div>
  <div class="term_space">
    <h4 class="md-2 fw-bold">Top points:</h4>
    <p>
      Activas and coffee, but in fact this may bind with the vitamins in the
      juice rendering them less effective. [link]
    </p>
    <p>
      The impacts that activated charcoal in cocktails may have on medication
      depends on the type of medication, timing of taking medication, and how
      much activated charcoal is in the beverage.
    </p>
    <p>
      While some sources say that one shouldn't consume activated charcoal
      within an hour of taking medication [link], in the Activated Charcoal
      Primer linked above, Dr. Copen reaches the conclusion*, "In my opinion,
      for the vast majority of basically healthy people, an interval of about 8
      to 10 hours should be enough to ensure that there’s no significant
      medication adsorption, no matter what your guest ate or will eat."
    </p>
    <p>Activated charcoal does not absorb or adsorb alcohol. [link]</p>
  </div>
  <div class="term_space">
    <h4 class="fw-bold">Alternatives to Activated Charcoal for Cocktails:</h4>
    <p>Squid or cuttlefish ink (note: not vegetarian)</p>
    <p>Black food coloring</p>
    <p>Ground black sesame seeds</p>
    <p>Black currant</p>
  </div>
</section>

<footer id="footer">
  <div class="footer-top">
    <div class="container footer_btn">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>CharcoalNet</h3>
            <p>
              CharcoalNet is the largest B2B online market place trading
              sustainably harvested encroacher bush Lump Charcoal for Barbecue
              and restaurant Charcoal, Charcoal Fines and Briquettes, both FSC
              and Non-FSC.
            </p>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a [routerLink]="['/index']">Home</a></li>
            <li><a [routerLink]="['/about']">About us</a></li>
            <li><a [routerLink]="['/contact']">Contact Us</a></li>
            <li><a [routerLink]="['/faq']">FAQ</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Helpfull Links</h4>
          <ul>
            <li><a [routerLink]="['/term']">Terms of Use</a></li>
            <li><a [routerLink]="['/disclaimer']">Disclaimer</a></li>
            <li><a [routerLink]="['/policy']">Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 foot_social">
          <h4>Social Connect</h4>
          <div class="mt-3">
            <a [routerLink]="['/social']"
              ><img src="assets/img/facebook.png"
            /></a>
            <a [routerLink]="['/social']"
              ><img src="assets/img/twitter.png"
            /></a>
            <a [routerLink]="['/social']"
              ><img src="assets/img/linkdin.png"
            /></a>
            <a [routerLink]="['/social']"
              ><img src="assets/img/whatsapp.png"
            /></a>
          </div>
          <div class="mt-3">
            <h4>Payment Method</h4>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment1.png"
            /></a>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment2.png"
            /></a>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment3.png"
            /></a>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment4.png"
            /></a>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment5.png"
            /></a>
            <a [routerLink]="['/payment']"
              ><img src="assets/img/payment6.png"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="container-fluid footer_botm">
  <div class="copyright">&copy; Copyright 2022, Inc All Rights Reserved</div>
  <div class="credits"></div>
</div>

<!-- Browse Charcoal Products and Firewood end -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
